#
# ~/.inputrc
#
# github.com/gvicentin/workstation
# ------------------------------------------------------------------------------
set colored-stats on
set colored-completion-prefix on

set show-all-if-ambiguous on
set completion-ignore-case on

"\C-t":"tmux-repo\n"
